:root {
    --font-size--tudo:'Open Sans', sans-serif, 'Poppins', sans-serif;
}


body {
  
     
   
     background-color: #ECD6C4;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    background-image: linear-gradient(to right,#ECD6C4, #F5C59E );
    
    flex-wrap: wrap;
    
}

.logo {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    animation-name: mudanca-cor;
    animation-duration: 4s;  
    animation-iteration-count: infinite;
}

@keyframes mudanca-cor {
    from {color:#d982ff}
    to {color: #8c48f8}
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
    
    
}

.cabecalho-menu-item {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: #500cbd;
    font-weight: 400;
    font-size: 1.2em;
    
}

.conteudo-inicio {
 border-top: 0.4rem solid #f57c7ce0;
 
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 10rem;
    background-image: linear-gradient(to right,#FF9CBB, #F3CE5F);
}



.conteudo-principal-pc{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    width: 25%;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.conteudo-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px
}


.conteudo-escrito-titulo{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    
   
    
}

.fa-desktop{

    font-size: 17rem;
    color: black;
}

.conteudo-principal-texto{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}



.container-imagem{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right,#FF9CBB, #F3CE5F);
}


.conteudo-principal-imagem{
   padding-top: 2rem;
   

}
.conteudo-principal-imagem{
    background-size: cover;
    width: 60%;

}


.conteudo-segundo {
    height: 100%;
    border-top: 0.3rem solid #f57c7ce0;
    background-image: linear-gradient(to bottom ,#FF9CBB, #F3CE5F );
    background-color: #D8859F;
 
    
   
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 6rem;
    padding-right: 6rem;
    padding-left: 6rem;
    gap: 1.6rem; 
    padding-bottom: 4rem;

}


.titulo-apresentacao{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: #500cbd;
    font-weight: 400;
  
    
    
    
}

.subtitulo-apresentacao {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 2.0rem;

}

.texto-apresentacao {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    text-align: justify;
    padding-bottom: 3rem;
}




.container-habilidades{
 max-width: 100%;
 height:100%;
 background-image: linear-gradient(to bottom ,#FF9CBB, #F3CE5F );
 border-top: solid #f57c7ce0 0.3rem;

}

.habilidades-escrito{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 4rem;
    
}

.titulo-habilidades{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: #500cbd;
    font-weight: 400;
  
    
    
    
}

.texto-habilidades {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    text-align: justify;
   
    
}



.container-linguagens {
width: 100%;

/* background-color: ; */
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 2rem;
justify-content: center;
align-items: stretch;


}

.item1{
    width: 30%;
    height: 45rem;
   
    background-image: linear-gradient(to bottom,#FC79A2, #F7C83E);
    border: solid black 2px;
    text-align: center;
    align-items: baseline;
    border-radius: 4rem;
    padding-bottom: 3rem;
    margin-bottom: 10rem;
    
    
    
   
}

.imagem-linguagem {
    width: 50%;
    position: relative;
    top: 5.5rem;  
}



.nome-linguagem{
    /* font-size: 4rem;
    font-size: 2rem;
    position: relative;
    bottom: 16rem;*/
    color: black;
    position: relative;
    text-align: center;
    bottom: 12rem;
    font-size: 2.4rem;
    height: 100%;
    width: 100%;
}
.container-p-linguagem{
    display: flex;
}



.container-texto-linguagens{
    display: flex;
}

.texto-linguagens {
    position: relative;
    /* text-align: justify; */
    padding-left: 2rem;
    padding-right:2rem ;
    padding-top: 6rem;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;	
    
    
}









.redes-sociais{
    display: flex;
    gap: 5rem;
    justify-content: center;
    font-size: 5rem;
    padding-top: 5rem;
    color: #08317F;
  

}

.redes-sociais a {
    color: #08317F;
}

.container-texto-rodape {
    display: flex;
    justify-content: center;
  


}

.conteiner-rodape{

    border-top: solid 0.4rem #f57c7ce0 ;
    background-image: linear-gradient(to right, #E1B3C2, #E9D391);
    
    
 
   
}

.texto-rodape {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    color: black;
    font-weight: 400;
    padding-top: 2rem;
    font-size: 3rem;
    
}

.container-nome-rede {
    display: flex;
    gap: 3rem;
    /* position: relative; */
    left: 1.5rem;
    justify-content: center;
   
    
    
}
.soc:hover {
    color: #3E7FF7;
}

.nome-rede {
    
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1.0rem;
    /* position: relative; */
    right: 2rem;
    color: #08317F;    
    font-size: 2.5rem;
    
}

.nome-rede:hover{
    color: #3E7FF7;
}

.container-meus-dados {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  
   
    background-color: rgba(255, 255, 255, 0.705);
    border-radius: 3rem;
    margin: 3rem 4rem 0rem 4rem ;
    

    /* padding-left: 5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: white;
    margin: 1rem;
    border-radius: 3rem;
    margin-top: 4rem; */
    

   
   
    

    

}

.dados {
    display: flex;
    align-items: center;
    /* position: relative; */
    left: 4rem;
    flex-direction: column;
    padding: 3rem;
  
   
    
    
    
    
    
}


h4 {
    width: 10rem;
    border: solid black;
    border-width: 0.2rem 0.2rem 0rem 0.2rem;
    text-align: center;
    width: 25rem;
    font-size: 1.7rem;
    
    
}

.dados-info {
    text-align: justify;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    width: 50rem;
    border: solid black;
    border-width: 0.2rem 0.2rem 0.2rem 0.2rem;
    font-size: 1.7rem;
}


.botao-trocar-cor label{
   padding-right: 2rem;
    align-self: center;
    font-size: 1.2rem;
    color:#8c48f8;
    font-weight: 400;

}
.botao-trocar-cor {
    display: flex;
    flex-direction: row;

}

.botao-trocar-cor button {
background-color: #d982ff;
border-radius: 2rem;
width: 6rem;
height: 3rem;
margin-left: 1rem;
cursor: pointer;
font-weight: 400;
}



#container_email{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  
}

#container_email .email {
    font-size: 7rem;
    color: #500cbd;
    margin: 0;
}

#container_email .p_email{
    font-size: 3rem;
    color: #500cbd;
}
